<h1 class="display-4 mt-3"><strong>Patient Chart</strong></h1>
<p3 class="display-7">Last Version Saved: {{LAST-DATE}} </p3>
<div class="col align-items-center mt-5">
    <div id="modal-container"></div>
    <!-- SEARCH BAR -->
    <div class="row d-flex justify-content-between no-gutters align-items-center">
        <div class="col pe-4">
            <div class="row">
                <div class="col">
                <input class="form-control me-3" type="text" id="search-bar" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-auto">
                <button class="btn ms-0 rounded-0 border" type="button" id="search" name="{{SEARCH-BUTTON}}">
                    <img src="\assets/icons/search.svg" alt="">
                </button>
                </div>
            </div>
        </div>
        <!-- FILTER -->
        <div class="col-auto me-2 dropdown">
            <button class="btn btn-secondary dropdown-toggle mt-0" type="button" id="filter-lab-logs" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="\assets/icons/filter.svg">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#" onclick="insert_to_table(`/clinician/patient-chart/0/patient_admission_date/desc{{SEARCH}}`)">recently admitted</a></li>
                <li><a class="dropdown-item" href="#" onclick="insert_to_table(`/clinician/patient-chart/0/patient_admission_date/asc{{SEARCH}}`)">oldest admitted</a></li>
                <li><a class="dropdown-item" href="#" onclick="insert_to_table(`/clinician/patient-chart/0/patient_last_updated/desc{{SEARCH}}`)">most recent update</a></li>
                <li><a class="dropdown-item" href="#" onclick="insert_to_table(`/clinician/patient-chart/0/patient_last_updated/asc{{SEARCH}}`)">oldest update</a></li>
                <li><a class="dropdown-item" href="#" onclick="insert_to_table(`/clinician/patient-chart/0/instructor_name/desc{{SEARCH}}`)">instructor name</a></li>
            </ul>
        </div>
        <!-- ADD NEW -->
        <div class="col-auto">
            <button id="add-new-patient" type="button" class="btn btn-success rounded-0">
                Add new patient
            </button>
        </div>
    </div>
</div>
<!-- TABLE DATA -->
<div class="col table-responsive mt-1">
    <table class="table table-md w-100 table-bordered mt-3">
        <thead>
            <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Patient ID</th>
            <th scop e="col">Patient Name</th>
            <th scope="col">Admission Date</th>
            <th scope="col">Most Recent Procedure</th>
            <th scope="col">Instructor Name</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{TABLE-DATA}}
            </tr>
        </tbody>
    </table>
</div>
 {{EMPTY-TAG}}